* {
  all: unset;
  background: transparent;
  font-family: IosevkaTermNF;
}

window {
  background: transparent;
}

.container {
  background-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #d8cab8;
  color: #d8cab8;
  // border-radius: 12px;
}

.time-parent {
  background-color: #000000;
  color: #d8cab8;
  // border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #d8cab8;
}

.label {
  font-size: 25px;
  font-weight: bold;
}
