/* --------------------- FONTS ----------------------------- */
* {
  font-family: "NovaMono", monospace !important;
  font-size: 13px !important;
}

/* --------------------- BUTTONS ----------------------------- */
#nav-bar #new-tab-button,
#forward-button,
#alltabs-button {
  display: none !important;
}

#back-button,
#stop-reload-button {
  direction: rtl;
}

#nav-bar {
  direction: rtl;
  background-color: #161616 !important;
  transition: background-color 0.5s ease-in-out;
}

#nav-bar-customization-target {
  display: flex;
}

.titlebar-buttonbox-container {
  display: none !important;
}

/* --------------------- TABS ----------------------------- */
#TabsToolbar {
  visibility: collapse;
}

#navigator-toolbox:hover #TabsToolbar {
  visibility: visible;
}

.tabbrowser-tab {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.tabbrowser-tab:hover {
  opacity: 1;
}

/* --------------------- OTHERS ----------------------------- */
:root {
  --animation-speed: 0.4s;
  --urlbar-min-height: 25px !important;
  --moz-hidden-unscrollable: scroll !important;
  --toolbarbutton-border-radius: 0px !important;
  --tabs-border-color: transparent;
}

#navigator-toolbox {
  border: none !important;
}

#appMenu-fxa-separator {
  border-image: none !important;
}

body {
  scroll-behavior: smooth;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --------------------- HOVER EFFECTS ----------------------------- */
#back-button:hover,
#stop-reload-button:hover,
#alltabs-button:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 4px;
}
