* {
  font-family: noto-fonts-cjk, IosevkaTermNFM;
  font-size: 13px;
  min-height: 25px;
}

window#waybar {
 color: #a3a5b6;
}

window#waybar > box {
 margin: 5px;
}

#workspaces {
 margin-left: 0px;
 margin-right: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
}

#workspaces button {
 color: #B2B2B2;
 padding: 0;
 margin: 0;
 margin-top: 0px;
 margin-bottom: 0px;
 margin-right: 0px;
}

#workspaces button.focused,
#workspaces button.active {
 color: #B53F71;;
}

#clock {
  /* padding-top: 15px; */
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0px;
  /* font-size: 14px; */
}

#pulseaudio {
  padding-top: 8px;
  padding-left: 1px;
  font-size: 23px;
}
#pulseaudio.audio {
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}
#pulseaudio.microphone {
  padding: 0px;
  font-size: 26px;
}

/* #battery { */
/*   padding-top: 0px; */
/*   padding-bottom: 0px; */
/* } */

#tray {
 background-color: transparent;
 padding-top: 0px;
 padding-bottom: 20px;
 /* font-size: 2px; */
}



