* {
 font-family: NovaMono;
 font-size: 15px;
}

window#waybar {
 color: #a3a5b6;
}

window#waybar > box {
 margin: 2px;
}

#clock {
 padding-left: 1px;
 padding-right: 1px;
 font-family: NovaMono;
 font-size: 14px;
}

#pulseaudio {
  padding: 1px;
}

battery {
  padding: 1px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #battery {
 margin-top: 2px;
}

.modules-right > widget:last-child > #battery {
 margin-bottom: 4px;
}

#tray {
 background-color: transparent;
 padding: 2px;
 font-size: 1px;
}

#tray > .needs-attention {
 /* Replace with a valid property */
 background-color: #f279a1;
}
