* {
 font-family: GohuFont uni11 Nerd Font Mono;
 font-size: 17px;
}

window#waybar {
 color: #a3a5b6;
}

window#waybar > box {
 margin: 4px;
}

#workspaces {
 margin-left: 6px;
 margin-right: 5px;
}

#workspaces button {
 color: #70717a;
 padding: 0;
 margin: 0;
 margin-top: 3px;
 margin-bottom: 3px;
 margin-right: 1px;
}

#workspaces button.focused,
#workspaces button.active {
 color: #f9f5ff;
}

#clock {
 padding-left: 2px;
 padding-right: 1px;
 font-family: NovaMono;
 font-size: 15.5px;
}

#pulseaudio {
  padding: 4px;
}

battery {
  padding: 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #battery {
 margin-top: 5px;
}

.modules-right > widget:last-child > #battery {
 margin-bottom: 8px;
}

#tray {
 background-color: transparent;
 padding: 2px;
 font-size: 1px;
}

#tray > .needs-attention {
 /* Replace with a valid property */
 background-color: #f279a1;
}
