configuration{
    modi: "drun,calc,emoji,file-browser-extended";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: " => {name}";
    location: 1; 
    anchor: northwest;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   > ";
    // display-run: "  Run ";
    // sidebar-mode: true;
}

@theme "~/.config/rofi/theme.rasi"




