
* {
    font: "GohuFont 14 Nerd Font Mono 12";
    background-color: transparent;
    color: white;
    margin: 2px;
}

window {
    background-color: #101010;
    width: 20%;
}

element selected {
  background-color: #262626;
}

element {
  padding: 4;
}

listview {
  columns: 1;
  lines: 6;
}
