/* Shrink tab bar */
#tabbrowser-tabs,
#tabbrowser-arrowscrollbox,
#tabbrowser-tab,
.tabbrowser-tab,
.tab-stack,
.tab-content,
.tab-background {
	height: 32px !important;
	min-height: 32px !important;
	margin-bottom: 0 !important;
}

:root {
	--tab-min-height: 0 !important;
	--tab-block-margin: 0 !important;
}

/* Hide the window control buttons */
.titlebar-buttonbox-container { 
    display: none !important; 
}

#tabs-newtab-button .toolbarbutton-icon,
#alltabs-button .toolbarbutton-icon {
	width: 32px !important;
	padding: 8px !important;
  display: none !important;
}

#navigator-toolbox {
	/* Remove black border */
	margin-bottom: 1px;
	/* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important; */
	z-index: 1000 !important;
}

/* Move close button to the left on hover */
.tab-label-container {
	order: 1;
	font-size: 12px;
}

.tabbrowser-tab .tab-content {
  background-color: #000 !important;
}

.tabbrowser-tab[selected="true"] .tab-content {
    font-style: italic !important;
}

.tabbrowser-tab:not([selected]) .tab-content {
    opacity: 0.5 !important; /* Oscurecer las pestañas no seleccionadas al 50% */
}

/* Buttons color */
.toolbarbutton-icon {
    fill: #94345D !important;
}

.tab-close-button {
	display: none !important;
}

/* Remove silly space */
.titlebar-spacer {
	width: 8px !important;
}

/* URL Bar */
#nav-bar {
    position: absolute !important;
    top: 35px !important; /* Adjust this value as needed */
    left: 100px !important;
    right: 100px !important;
    height: 30px !important; /* Set a fixed height */
    border-radius: 0x !important;
    background: #0A0A0A !important;
    opacity: 0 !important; /* Start hidden */
    transition: height 200ms ease-in-out, opacity 100ms ease-in-out; /* Smooth transitions */
    z-index: 1001 !important;
}

/* Show URL bar on hover or focus */
#navigator-toolbox:hover #nav-bar,
#nav-bar:focus-within {
    opacity: 1 !important; /* Make it visible */
    height: 30px !important; /* Maintain height */
}

/* URL bar input adjustments */
#urlbar-input-container {
    width: 100% !important;
    height: 10% !important;
}

#urlbar-input {
    height: 28px !important; /* Adjust as needed */
    padding-left: 0px !important;
    border: 0px solid #101010 !important;
    border-radius: 0px !important;
}

/* Optional: Highlight URL bar on focus */
#urlbar:focus {
    border: 1px solid #161616 !important; /* Highlight border color when focused */
}

#urlbar:hover {
    border: 1px solid #A33966 !important; /* Change border color on hover */
}

#bookmarks-menu-button {
	margin-right: 16px !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: none !important;
}

.tab-icon-stack {
  margin-inline-start: auto !important;
}

.tab-label-container {
  max-width: min-content !important;
  margin-inline-end: auto !important;
}

