/*
* MR-5OBOT firefox css cfg 
*/

/* --------------------- FONTS ----------------------------- */

* {
  font-family: "NovaMono" !important;
  font-size: 14px !important;
}

/* --------------------- BUTTONS ----------------------------- */

/* hide buttons */
#forward-button, #back-button, #stop-reload-button {
 /* display: none !important; */
 direction: rtl;

}

/* hide min max close */
.titlebar-buttonbox-container {
  display: none !important;
}
/* nave bar display on left */
#nav-bar {
  direction: rtl;
}
/* navebar custom bg color */
#nav-bar {
  background-color: #161616 !important; /* Change to the desired color */
}
/* Hide the close buttons from the tabs */
/* .tabbrowser-tab .tab-close-button { */
/*     display: none !important; */
/* } */

/* Move the List All Tabs button to the navigation bar */
#nav-bar-customization-target {
    display: flex;
}

#alltabs-button {
    -moz-box-ordinal-group: 0 !important;
}

/* --------------------- TABS ----------------------------- */
/* Hide the tab bar by default */
#TabsToolbar {
    visibility: collapse;
}
/* Show the tab bar on hover */
/* #navigator-toolbox:hover #TabsToolbar { */
/*     visibility: visible; */
/*     height: var(--tab-min-height); /* Set the desired height of the tab bar */ */
/* } */

/* Add a fade-in animation to the tab on hover */
.tabbrowser-tab:not(:hover) {
    opacity: 0.5; /* Set the initial opacity */
    transition: opacity 0.3s ease; /* Add a smooth transition */
}
.tabbrowser-tab:hover {
    opacity: 1; /* Set the full opacity on hover */
}

/* --------------------- OTHERS ----------------------------- */

/* hide the toolbar*/
/* #TabsToolbar { */
/*   visibility: collapse !important; */
/* } */

* {
  --animation-speed: 0.2s;
  --urlbar-min-height: 25px !important;
  --moz-hidden-unscrollable: scroll !important;
  --toolbarbutton-border-radius: 0px !important;
  --tabs-border-color: transparent;
}

:root {
    --window: -moz-Dialog !important;
    --secondary: color-mix(in srgb, currentColor 5%, -moz-Dialog) !important;
    --uc-border-radius: 0px;
    --uc-status-panel-spacing: 0px;
    --uc-page-action-margin: 0px;
}

/*  Removes annoying border  */
#navigator-toolbox{border:none !important;}

/*  Removes the annoying rainbow thing from the hamburger  */
#appMenu-fxa-separator{border-image:none !important;}
