/**
 * Colors
**/

* {
    background:     #101010;
    background-alt: #262626;
    foreground:     #FFFFFFFF;
    selected:       #94938F;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
