/*
* MR-5OBOT firefox css cfg 
*/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
  font-family: "NovaMono" !important;
  font-size: 14px !important;
}

/* tab font */
.tabbrowser-tab .tab-label-container, .tab-content {
  font-family: "Noto Kufi Arabic", serif !important;
}

/* hide min max close */
.titlebar-buttonbox-container {
  display: none !important;
}

#TabsToolbar {
  visibility: collapse !important;
}

/* This CSS rule hides the bookmarks by default */
#forward-button, #back-button, #stop-reload-button {
 display: none !important;
}

#personal-bookmarks {
  display: none !important;
}

* {
  --animation-speed: 0.2s;
  --urlbar-min-height: 28px !important;
  --moz-hidden-unscrollable: scroll !important;
  --toolbarbutton-border-radius: 0px !important;
  --tabs-border-color: transparent;
}

:root {
    --window: -moz-Dialog !important;
    --secondary: color-mix(in srgb, currentColor 5%, -moz-Dialog) !important;
    --uc-border-radius: 0px;
    --uc-status-panel-spacing: 0px;
    --uc-page-action-margin: 0px;
}

/*  Removes annoying border  */
#navigator-toolbox{border:none !important;}

/*  Removes the annoying rainbow thing from the hamburger  */
#appMenu-fxa-separator{border-image:none !important;}
